body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial;
    background-color: #bbd0ff;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 90px;
}
header nav {
    display: flex;
    justify-content: center;
}

header nav .nav-right-section {
    width: 450px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-right-section a {
    margin-right: 150px;
    color:black;
    font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 430px;

}

.container .card {
    width: 350px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba (0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;   
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2)
}

.container .card img {
    width: 350px;
    height: 220px;
}

.container .card h3 {
    font-weight: 600;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


.texto-img-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-left: 30px;
}

.imagen {
    width: 700px;
    height: 400px;
    margin-top: 100px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}

.form {
    margin-left: 250px;
    margin-bottom: 100px;
}

h2{
    text-align: center;
    margin-right: 35%;
    background-color: beige;
}