@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    
}

body {
background-color: white;
}

header {
    background-image: url(/Imagenes-stock-coding/imagen-back.jpg);
    background-position: center bottom;
    background-repeat: repeat;
    min-height: 70vh;
    display: flex ;
    align-items:center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left:0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    display:flex;
}

.menu .logo {
    font-weight: 700;
    font-size: 15px;
    color: black;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    list-style: none;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 10px 35px;
    color:black;
    border-radius: 25px;
    display: block;
}

.menu .navbar ul li a:hover {
    background-color: white;
   
}

#menu {
    display: none;   
}

.menu-icono {
    width: 25px;
    cursor: pointer;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.header-content {
    display: flex;
}

.header-content img {
    width: 300px;
    border-radius: 60%;
}

.content {
    padding: 150px 150px 0px 0px;

}


.content h1 {
    color: black;
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
    margin-bottom:  20px;
}

.btn-1 {
    display: inline-block;
    background-color:#007bff;
    margin: 35px 0px 0px 0px;
    padding:15px 25px;
    color: white;
    font-size: 15px;
    border-radius: 20px;

}

.btn-1:hover {
    background-color: #3a86ff;
}

.btn-2 {
    display: inline-block;
    margin: 35px 10px -100px 60px;
    padding: 15px 25px;
    color: black;
    font-size: 15px;
    border: 1px solid #007bff;
    color: #007bff;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
    border-radius: 20px;

}.btn-2:hover:hover {
    background-color: #3a86ff;
}

.curriculum {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.experiencia {
    padding: 20px;
    margin: 0px 10px;

}

.experiencia img{
    width: 150px;
    height: 150px;
    margin: 0px 10px 50px 10px;

}

.experiencia h2 {
    font-size: 25px;
    color: black;
    margin-bottom: 30px;
    margin-right: 70px;
}

.experiencia ul {
    font-size: 20px;
    text-align: left;
    padding: 50px 0px;

}

.empresas {
    padding: 100px 0px;
    text-align: center;
}

.empresas h3 {
    font-size: 45px;
    color: black;
    margin-bottom: 55px;
}

.empresas img{
    margin-left: 80px;
    width: 150px;
}

footer {
    padding: 0px 0px 30px 0px;
    background-image: url(/Imagenes-stock-coding/imagen-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.redes-sociales{
    display: flex;
    justify-content: space-between;


}

.btn-3 {
    display: inline-block;
    background-color:#007bff;
    margin: 35px 0px 0px 0px;
    padding:25px 35px;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: -700px;
    margin-left: 650px;

}

.formulario {
    display: flex;
    height: 550px;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    color: black;
    transition: color .15s ease-in-out,
    background-color .15s ease-in-out;
    border-radius: 20px;
    padding: 50px 100px;
  
}

.formulario h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.enlaces {
    padding: 50px 50px;
    justify-content: space-between;
    display: flex
}

.caso-de-exito img {
    padding: 20px 20px;
    width: 400px;
    padding: 80px 10px;
    margin-left: 30%;
    border-radius: 200px;
    height: 500px;

}

h4 {
    text-align: center;
    font-size: 40px;
}

.caso-de-exito p {
    text-align: center;
    padding: -0px 200px;
    margin-top: -40px;
}

@media(max-width:991px) {

    .menu {
        padding: 20px;     
    }
    .menu label {
        display:initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }
    
    header {
        height: 0vh;
        padding: 400px 0px 340px 0px;
        background-position: center center;
    }

    .header-content {
        flex-direction: column;
        text-align:center;
        align-items: center;
        padding: 0px 30px;

    }

    .content {
        padding: 0px;
    }
    .content h1 {
        margin-top: 0px;
        font-weight: 45px;
    }
    .content p {
        margin-top: 0px;
        width: 150px;
        margin-left: 10px;
    }
    .curriculum {
        flex-direction: column;
        padding: 50px 30px 0px 30px;
    }
    .caso-de-exito {
        flex-direction: column;
        align-items: center;
        padding: 0px 0px 80px 0px;
        text-align: center;

    }
    .caso-de-exito p {
        padding: 50px 30px 0px 30px;

    }

    .caso  {
        margin-right: 70%;
        align-items: center;


    }

    .btn-3 {
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
    }

    .header-content p {
        margin-left: 150px;

    }

}
.video-responsivo {
    margin-left: 350px;
}