body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Arial;
   
}

header {
    width: 100%;
    height: 90px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section {
    width: 850px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav-right-section a {
    margin-right: 100px;
    color:black;
    font-size: 25px;
}

.imagen {
    display: flex;
    margin-top: -9%;
    height: 450px;
}

h1 {
    font-family: 'Times New Roman';
    margin-left: 200px;
    text-align: left;
}